@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
:root {
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
    --card-color: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

* {
    box-sizing: border-box;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* Globals */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: var(--Dark-Grayish-Blue);
    background-image: url(./images/bg-bottom.svg);
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}

p {
    font-weight: bold;
}

.align-ctr {
    text-align: center;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:focus,
a:visited {
    text-decoration: none;
}

ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: block;
}

li {
    margin: 0;
}

.flex-rw {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.--big-p {
    font-weight: bold;
    font-size: 3.5em;
    line-height: 1;
    margin: .5em 0;
}

.--small-p {
    font-size: 14px;
}


/*************** Pricing-section ****************/

.toggle {
    border: 0;
    outline: none;
    -webkit-appearance: none;
    width: 90px;
    height: 50px;
    background: hsl(237, 63%, 64%);
    border-radius: 40px;
    position: relative;
    cursor: pointer;
    border: 2px solid hsl(237, 63%, 64%);
    transition: all ease-in .35s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    margin: 1em;
}

.toggle__label {
    align-content: stretch;
    font-size: 1rem;
    color: var(--Grayish-Blue);
}

.toggle::before {
    content: ' ';
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff;
    top: 3px;
    left: 3px;
    border-radius: 20px;
    transition: all ease-in-out .35s;
}

.toggle:checked::before {
    transform: translate(40px);
    transition: all ease-in-out .35s;
}

.pricing-section {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.pricings {
    margin-top: 2em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}


/* *****Price card****** */

.price-card {
    padding: 2em;
    min-width: 310px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .4)
}

.card__heading {
    margin: 0;
    text-transform: capitalize;
}

.small-doll {
    font-size: 0;
    font-size: 2em;
    margin-right: 5px;
}

.card__feature {
    border-top: 1px solid var(--Dark-Grayish-Blue);
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0 auto;
}

.middle-card {
    position: relative;
}

.middle-card::before {
    position: absolute;
    content: ' ';
    display: block;
    background-color: hsl(237, 63%, 64%);
    width: 100%;
    height: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    top: -20px;
}

.middle-card::after {
    position: absolute;
    content: ' ';
    display: block;
    background-color: hsl(237, 63%, 64%);
    width: 100%;
    height: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    top: 100%;
}


/* Card-State*/

.card--bg-blue {
    background: hsl(237, 63%, 64%);
    color: #fff;
}

.card--bg-white {
    background-color: #fff;
}


/*Card-Border-radius */

.bd-left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.bd-right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


/*Card Border*/

.border-btm--gray {
    border-bottom: 1px solid var(--Dark-Grayish-Blue);
}

.border-top--white {
    border-top: 1px solid var(--Very-Light-Grayish-Blue);
}

.border-btm--white {
    border-bottom: 1px solid var(--Very-Light-Grayish-Blue);
}


/* *Middle card margins* */

.mg-top {
    margin-top: 2em;
}

.mg-btm {
    margin-bottom: 2em;
}


/* ***Buttons*** */

.button {
    color: hsl(237, 63%, 64%);
    text-transform: uppercase;
    background-color: #fff;
    display: block;
    padding: 11px;
    margin-top: 1.4em;
    border-radius: 5px;
    font-weight: bold;
}


/* **Button state** */

.button--bg-blue {
    color: #fff;
    background: hsl(237, 63%, 64%);
}

.button:hover,
.button:focus {
    color: #fff;
    background: hsl(237, 63%, 64%);
    transition: .25s all linear;
    transform: scale(1.1, 1.1);
    border: 1px solid #fff;
}

.button--bg-blue:hover,
.button--bg-blue:focus {
    background-color: #fff;
    color: hsl(237, 63%, 64%);
    border: 1px solid hsl(237, 63%, 64%);
    transition: .25s all linear;
    transform: scale(1.1, 1.1);
}


/* ***Padding*** */

.pd-top {
    padding-top: 1em;
}

.pd-btm {
    padding-bottom: 1em;
}

@media(max-width: 999px) {
    .pricings {
        display: block;
        max-width: 500px;
    }
    .price-card {
        margin-top: 2em;
        box-shadow: 0 0 8px rgba(0, 0, 0, .4);
    }
    .bd-all {
        border-radius: 8px;
    }
}